# Camera Configuration
CAM_0_SOURCE=data/videos/your_video.mp4
CAM_0_LABEL=Main Entrance
# CAM_1_SOURCE=0
# CAM_1_LABEL=Webcam

# ZMQ Ports
ZMQ_RAW_FRAMES_PORT=5550
ZMQ_HEALTH_PORT=5554

# Other settings
FRAME_SKIP=3
LOG_LEVEL=INFO
